h1{
    color: red;
}
h2{
    background-color: purple;
}
.heading_four{
    font-size: medium;
}
.br{
    background-color: rosybrown;
}
.hrTag{
    color: seagreen;
}
.com{
    font-size: medium;
}
.ins{
    color: yellow;
}
.code{
    background-color: teal;
}
.frist{
    color: blue;
}
.select{
    background-color:palegreen ;
}